<div class="partenaires">
    <img src="img/exit.jpg" ng-click="cancel()" class="exit">
    <div class="row-fluid span12 titleContenerModal">
        <img class="span5" src="img/leftTitleModal.jpg"/>
        <h5 class="span2">Nos partenaires</h5>
        <img class="span5 right" src="img/rightTitleModal.jpg"/>
    </div>
    <div class="row-fluid span12">
        <div class="logoContener row-fluid">
            <img src="img/bonnefond.jpg" class="span4">
            <img src="img/progres.jpg" class="span4">
            <img src="img/rhone.jpg" class="span4">
        </div>
    </div>
</div>