<div class="contener row-fluid">
    <img src="img/bgbottom.png" class="bgbottom"/>
    <div class="contenu row-fluid">
        <div class="row-fluid span7 presentation leftSide">
            <h1>almanach du Père Benoit</h1>
            <div class="intro">
                <h5>Depuis près de 180 ans, le Père Benoit est attendu chaque année par ses fidèles lecteurs pour ses informations pratiques et souvent exclusives.</h5>
            </div>
            <div class="content">
                <p>
                    Cette année encore, il présente toutes ses rubriques habituelles mais aussi ses célèbres réflexions sur l'actualité et beaucoup d'autres informations (Tendances météo par mois, St patrons, Fêtes à souhaiter, Anniversaires de mariage.... ).
                    <br>
                    Il rend aussi hommage à tous ceux et celles qui ont combattu pendant la "grande guerre" de 14/18 et celle de 39/45, et à l'abbé Pierre qui lança son célèbre appel à l'hiver 1954
                </p>
            </div>
            <div class="footLeft">
                <div class="span3">
                    <img src="img/180ans.png" alt="180ans"/>
                </div>
                <div class="span9 pointsDeVente">
                    <i class="icon icon-map-marker"></i>
                    <b>Liste des points de vente</b>
                    <p>
                        L'almanach du Père Benoit est en vente chez les principeaux marchands de journeaux de la région Rhône-Alpes et chez certain des départements limitrophes (Allier, Corrèze, Côte d'Or, Haute-Loire, Jurra, Puy-de-Dôme, Saône et Loire) du 20 Octobre 2013 à fin Février 2014.
                    </p>
                </div>
            </div>
        </div>
        <div class="row-fluid span5 livre">
            <img src="img/livre.png" alt="almalach">
        </div>
    </div>
</div>
