<div ng-controller="jardinageCtrl">
    <div class="jardinage">
        <div class="row-fluid">
            <div class="span6 row-fluid conseilSearch">
                <div class="conseilSearchContent span10">
                    <div class="span1">
                        <div class="dropdown selectHistory" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                <img class="openimg" src="img/selectHistoryOpen.png"/>
                                <img class="closeimg" src="img/selectHistory.png"/>
                            </a>
                            <ul class="dropdown-menu list-holder">
                                <li ng-repeat="article in articles" ng-class="{active : isSelected(article)}">
                                    <a ng-click="setMaster(article)">{{article.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span10">
                        <h1>Conseils en jardinage</h1>
                        <div class="row-fluid span10 controller">
                        <a class="span3" ng-click="prev()"><img src="img/btnleft.jpg"/> </a>
                        <input class="monthSelect" type="text" ng-model="query" ng-change="selectQuery()"/>
                        <a class="span3 right next" ng-click="next()"><img src="img/btnright.jpg"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conseilContain span6">
                 <div class="conseilContainFond"></div>
                <div ng-repeat="article in articles | filter:{title:query}"
                     class="span11 conseilContent">
                    <h1>{{article.title}}</h1>
                    <div data-ng-bind-html="article.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
