<div class="navContener row-fluid">
    <div class="bgnav">
    <img src="img/bg_top_home_nav.png" alt="bgnav" class="bgnavBorder">
    <img src="img/bgnav.jpg" alt="bgnav" class="bgnavCont">
    </div>
    <nav class="navBottom">
        <ul>
            <li>
                <a href="#/calendrier" tooltip-placement="top" tooltip="jdojviodojs" tooltip-triger="mouseover">
                    <div class="liContent">
                        <div class="imgContener">
                            <img src="img/sunlogo.png" alt="Calendrier"/>
                        </div>
                        <a>Calendrier lune et soleil</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="#/conseils_jardinage"  tooltip-placement="top" tooltip="jdojviodojs">
                    <div class="liContent">
                        <div class="imgContener">
                            <img src="img/Plant.png" alt="Jardinage"/>
                        </div>
                        <a>Conseils de jardinage</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="#/histoires_regionales"  tooltip-placement="top" tooltip="jdojviodojs">
                    <div class="liContent">
                        <div class="imgContener">
                            <img src="img/book.png" alt="Histoires"/>
                        </div>
                        <a>Histoires régionales</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="#/foires_marches_brocantes"  tooltip-placement="top" tooltip="jdojviodojs">
                    <div class="liContent">
                        <div class="imgContener">
                            <img src="img/pannier.png" alt="Foires"/>
                        </div>
                        <a>Foires, marchés et brocantes</a>
                    </div>
                </a>
            </li>
            <li>
                <a href="#/horoscope"  tooltip-placement="top" tooltip="jdojviodojs">
                    <div class="liContent">
                        <div class="imgContener">
                            <img src="img/horoscope.png" alt="Horoscope"/>
                        </div>
                        <a>Horoscope</a>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>